<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/json" />
            <mimeMap fileExtension=".pnts" mimeType="application/pnts" />
        </staticContent>
    </system.webServer>
</configuration>
